* {
    box-sizing: border-box;
}

html {
    background: #23252C;
}

main {
    width: 80vw;
    height: 95vh;
    border-radius: 10px;
    max-width: 400px;
    max-height: 660px;
    margin: 0 auto;
    margin-top: 2.5vh;
    background: #1A1B21;
}

img {
    width: 50%;
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: 25%;
}

/*--------------------------
Information
--------------------------*/

.information--container > div {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    background: #1A1B21;
}

h1, h3 {
    background: #1A1B21;
    text-align: center;
    margin-bottom: 0;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 3.2vh;
    font-family: 'Arima', cursive;
}

h2 {
    background: #1A1B21;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.6vh;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4vh;
    text-align: center;
    color: #ff6ff2;
    font-family: 'Arima', cursive;
}

p {
    margin: 0 auto;
    width: 80%;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vh;
}

.heart {
    background: #1A1B21;
    color: #ff6ff2;
    margin: 0 46%;
}

.envelope {
    background: #FFFFFF;
    color: #23252C;
}

.linkedinIcon {
    background: #5093E2;
    color: white;
}

.information--portfolioLink {
    display: block;
    text-align: center;
    margin-top: 0.6vh;
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    text-align: center;
    color: #ff6ff2;
    font-family: 'Arima', cursive;
    margin-right: 0.1vw;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.1rem;
    text-decoration: none;
}

.email {
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    color: #374151;

}

.linkedin {
    background: #5093E2;
    color: white;

}

.interests--container {
    background: #1A1B21;
    padding-bottom: 3vh;
}

footer {
    height: 8vh;
    border-radius: 0 0 10px 10px;
    background: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footerIcon {
    font-size: 2rem;
    color: #ff6ff2;
}